<h3><i class="glyphicon glyphicon-stats"></i> The most commited podium</h3>
<hr>

<div class="competition-podium">
  <div class="podium-block bronze">
    <div class="name">{{mostCommitedRepo[2].name}} <br><strong>{{mostCommitedRepo[2].commit}} commit(s)</strong>
    </div>
    <div class="podium"><span>3<sup>rd</sup></span></div>
  </div>
  <div class="podium-block gold">
    <div class="name">{{mostCommitedRepo[0].name}} <br><strong>{{mostCommitedRepo[0].commit}} commit(s)</strong>
    </div>
    <div class="podium"><span>1<sup>st</sup></span></div>
  </div>
  <div class="podium-block silver">
    <div class="name">{{mostCommitedRepo[1].name}} <br><strong>{{mostCommitedRepo[1].commit}} commit(s)</strong>
    </div>
    <div class="podium"><span>2<sup>nd</sup></span></div>
  </div>
</div>
