<div ng-controller="UserStatsCtrl">
  <div class="row">
    <div class="col-sm-3">
      <img alt="" class="avatar" height="220" ng-src="{{ avatarURL }}" width="220">

      <h2>{{ fullName }}</h2>
      <h4>{{ login }}</h4>
      <hr>
      <p ng-show="email !== null"><i class="glyphicon glyphicon-envelope"></i> {{ email }} </p>

      <p ng-show="createdAt !== null"><i class="glyphicon glyphicon-time"></i> {{ createdAt }} </p>

      <p ng-show="location !== null"><i class="glyphicon glyphicon-map-marker"></i> {{ location }} </p>

      <p ng-show="company !== null"><i class="glyphicon glyphicon-briefcase"></i> {{ company }} </p>
      <hr>
      <p>Followers <span class="badge">{{followers}}</span> Following <span class="badge">{{following}}</span></p>

    </div>
    <!-- /span-3 -->
    <div class="col-sm-9">

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a data-toggle="tab" data-target="#stats" href="">General stats</a></li>
        <li role="presentation"><a data-toggle="tab" data-target="#repos" href="">Repositories</a></li>
      </ul>

      <div class="tab-content">
        <div id="stats" class="tab-pane fade in active">
          <h3><i class="glyphicon glyphicon-stats"></i> The most commited podium</h3>
          <hr>

          <div class="competition-podium">
            <div class="podium-block bronze">
              <div class="name">{{mostCommitedRepo[2].name}} <br><strong>{{mostCommitedRepo[2].commit}}
                commit(s)</strong>
              </div>
              <div class="podium"><span>3<sup>rd</sup></span></div>
            </div>
            <div class="podium-block gold">
              <div class="name">{{mostCommitedRepo[0].name}} <br><strong>{{mostCommitedRepo[0].commit}}
                commit(s)</strong>
              </div>
              <div class="podium"><span>1<sup>st</sup></span></div>
            </div>
            <div class="podium-block silver">
              <div class="name">{{mostCommitedRepo[1].name}} <br><strong>{{mostCommitedRepo[1].commit}}
                commit(s)</strong>
              </div>
              <div class="podium"><span>2<sup>nd</sup></span></div>
            </div>
          </div>
        </div>
        <div id="repos" class="tab-pane fade">
          <ul class="list-group">
            <li class="list-group-item choice" ng-repeat="repo in repos" ng-click="statsOfRepo(repo)">{{ repo.name }}</li>
          </ul>
        </div>
      </div>


    </div>
    <!--/col-span-9-->

  </div>
  <!--/row-->
</div>
