<div ng-controller="UserCtrl">
  <h3><i class="glyphicon glyphicon-user"></i> Search an github user</h3>
  <hr>

  <div id="imaginary_container">
    <div class="input-group stylish-input-group">
      <input type="text" class="form-control" placeholder="Enter the username..." ng-model="userName" ng-enter="searchUser()">
                    <span class="input-group-addon">
                        <button type="submit" ng-click="searchUser()">
                          <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item choice" ng-repeat="item in items" ng-click="selectUser(item)">{{ item.login }}</li>
  </ul>
</div>
